header.docked
  cursor                        move
  float                         left
  width                         480px

nav.docked
  position                      absolute
  right                         1em
  width                         0
  height                        100%
  
  ul
    align-content               flex-start
    display                     flex
    flex-direction              column
    flex-wrap                   wrap-reverse
    float                       right
    margin                      0
    height                      100%

footer.docked
  position                      absolute
  text-align                    left
  bottom                        1em
  left                          1em
  height                        160px

[am-icon]
  display                       inline-block
  font-size                     .8em
  line-height                   1em
  padding                       .4em .2em
  text-align                    center
  vertical-align                top
  width                         96px
  
  a
    text-decoration             none
  
  img::after
    display                     block

[am-icon="big"]
  width                         160px

nav [am-icon], footer [am-icon]
  background-image              url("paper_texture.png")
  box-shadow                    0 0 5px 0 #0003
  margin                        .8em
  