x-whimdow
  border_width =                32px
  border_top_width =            border_width * 1.5
  border_bottom_width =         border_width * 1.5
  border_left_width =           border_width * 1.5
  border_right_width =          border_width * 1.5
  viewport_top =                .7em
  
  background-color              white
  background-image              url("paper_texture.png")
  position                      absolute
  
  left                          10%
  top                           10%
  width                         60%
  height                        50%
  
  &.closed
    display                     none
  
  [am-titlebar]
    background-image            url("horizontal_line.png"), url("title_hilite.png")
    background-position         bottom, top
    background-repeat           repeat-x
    background-size             auto, cover
    cursor                      move
    font-size                   1.4em
    position                    absolute
    text-align                  center
    
    left                        - border_width
    right                       - border_width
    top                         - border_width
    height                      border_width * 1.5
    
    h1
      display                   inline-block
      font-weight               bold
      overflow                  hidden
      text-overflow             ellipsis
      margin                    0
      width                     calc( 100% - 96px )
      white-space               nowrap
    
    button
      background-color          transparent
      border-width              0
    
    [am-widget]
      background-position       center
      background-repeat         no-repeat
      float                     right
      width                     border_width * 1.5
      height                    border_width * 1.5
    
    [am-widget~="icon"]
      background-image          url("icon_button.png")
      float                     left
    
    [am-widget~="close"]
      background-image          url("close_button.png")
      cursor                    pointer
  
  [am-viewport]
    overflow                    hidden
    position                    absolute
    
    left                        - border_width
    top                         viewport_top
    right                       0
    bottom                      0
  
  [am-scrollbar~="v"]
    background-image            url("vertical_line.png")
    background-position         left
    background-repeat           repeat-y
    position                    absolute
    
    top                         viewport_top
    bottom                      0
    right                       - border_width
    width                       border_width
    
    [am-scrollshaft]
      background-image          url("vertical_shaft.png")
      background-position       center
      position                  absolute
      
      top                       border_width
      bottom                    border_width
      left                      0
      right                     0
      
      [am-scrollslider]
        background-image        url("vertical_knob.png"), url("horizontal_line.png"), url("vertical_line.png"), url("horizontal_line.png"), url("paper_texture.png")
        background-position     center, top, left, bottom, center
        background-repeat       no-repeat, repeat-x, repeat-y, repeat-x, repeat
        position                absolute
        
        left                    0
        right                   0
        top                     0%
        height                  100%
  
  [am-scrollbar~="h"]
    background-image            url("horizontal_line.png")
    background-position         top
    background-repeat           repeat-x
    position                    absolute
    
    left                        - border_width
    right                       0
    bottom                      - border_width
    height                      border_width
    
    [am-scrollshaft]
      background-image          url("horizontal_shaft.png")
      background-position       center
      position                  absolute
      
      left                      border_width
      right                     border_width
      top                       0
      bottom                    0
      
      [am-scrollslider]
        background-image        url("horizontal_knob.png"), url("vertical_line.png"), url("horizontal_line.png"), url("vertical_line.png"), url("paper_texture.png")
        background-position     center, right, top, left, center
        background-repeat       no-repeat, repeat-y, repeat-x, repeat-y, repeat
        position                absolute
        
        bottom                  0
        top                     0
        left                    0%
        width                   100%
  
  [am-scrollbutton]
    background-color            transparent
    background-position         center
    background-repeat           no-repeat
    border-width                0
    position                    absolute

    width                       border_width
    height                      border_width

  [am-scrollbutton~="up"]
    background-image            url("up_button.png"), url("horizontal_line.png")
    background-position         center, bottom
    top                         0

  [am-scrollbutton~="down"]
    background-image            url("down_button.png"), url("horizontal_line.png"), url("horizontal_line.png")
    background-position         center, bottom, top
    bottom                      0
    
  [am-scrollbutton~="left"]
    background-image            url("left_button.png"), url("vertical_line.png")
    background-position         center, right
    left                        0

  [am-scrollbutton~="right"]
    background-image            url("right_button.png"), url("vertical_line.png"), url("vertical_line.png")
    background-position         center, right, left
    right                       0

  [am-border]
    background-image            url("paper_border.png")
    position                    absolute
    width                       100%
    height                      100%
  
  [am-border="n"], [am-border="s"]
    background-image            url("paper_border_horizontal.png")
  
  [am-border="w"], [am-border="e"]
    background-image            url("paper_border_vertical.png")
  
  [am-border~="n"]
    top                         - border_top_width
    height                      border_top_width + 1px
  
  [am-border~="s"]
    bottom                      - border_bottom_width
    height                      border_bottom_width + 1px
  
  [am-border~="w"]
    left                        - border_left_width
    width                       border_left_width + 1px
  
  [am-border~="e"]
    right                       - border_right_width
    width                       border_right_width + 1px
  
  [am-border="n w"]
    background-position         top left
  
  [am-border="n"]
    background-position         top
  
  [am-border="n e"]
    background-position         top right
  
  [am-border="w"]
    background-position         left
  
  [am-border="e"]
    background-position         right
  
  [am-border="s w"]
    background-position         bottom left
  
  [am-border="s"]
    background-position         bottom
  
  [am-border="s e"]
    background-position         bottom right
    cursor                      se-resize
  
