[am-icon]
  background-image              url("paper_texture.png")
  box-shadow                    0 0 8px 0 #0003
  display                       inline-block
  line-height                   1em
  padding                       .4em .2em
  text-align                    center
  vertical-align                top
  width                         96px
  
  a
    text-decoration             none
  
  img::after
    display                     block