header.docked
  float                         right
  width                         40%

nav.docked
  /* -webkit-column-width          114px
  -moz-column-width             114px
  column-width                  114px */
  float                         left
  width                         128px
  height                        100%

footer.docked
  position                      absolute
  text-align                    right
  bottom                        1em
  right                         1em
  left                          128px
  height                        150px

[am-icon]
  display                       inline-block
  font-size                     .8em
  line-height                   1em
  padding                       .4em .2em
  text-align                    center
  vertical-align                top
  width                         96px
  
  a
    text-decoration             none
  
  img::after
    display                     block

nav [am-icon], footer [am-icon]
  background-image              url("paper_texture.png")
  box-shadow                    0 0 5px 0 #0003
  margin                        .8em
  