x-whimdow
  border_width =        42px
  border_top_width =    border_width
  border_bottom_width = border_width
  border_left_width =   border_width
  border_right_width =  border_width
  viewport_top =        .7em
  
  background-color      white
  background-image      url("paper_texture.png")
  position              absolute
  
  left                  10%
  top                   10%
  width                 75%
  height                50%
  
  [am-titlebar]
    background-image    url("horizontal_line.png")
    background-position bottom
    background-repeat   repeat-x
    cursor              move
    font-size           1.2em
    position            absolute
    text-align          center
    
    left                - border_left_width * .8
    right               - border_right_width * .8
    top                 - border_top_width * .8
    
    h1
      display           inline-block
      font-weight       bold
      margin            .2em
    
    button
      background-color  transparent
      border-width      0
    
    [am-widget]
      float             right
      width             32px
      height            32px
    
    [am-widget~="icon"]
      float             left
  
  [am-viewport]
    overflow            hidden
    position            absolute
    
    left                0
    top                 viewport_top
    right               0
    bottom              0

  
  [am-scrollbar~="v"]
    background-color    #eee
    position            absolute
    
    top                 viewport_top
    bottom              0
    right               - border_right_width * .8
    width               border_right_width * .8
    
    [am-scrollshaft]
      background-color  #ddd
      position          absolute
      
      top               border_right_width * .8
      bottom            border_right_width * .8
      left              0
      right             0
      
      [am-scrollslider]
        background-color  #ccc
        position        absolute
        
        left            0
        right           0
        top             0%
        height          100%
  
  [am-scrollbar~="h"]
    background-color    #eee
    position            absolute
    
    left                - border_left_width * .8
    right               0
    bottom              - border_bottom_width * .8
    height              border_bottom_width * .8
    
    [am-scrollshaft]
      background-color  #ddd
      position          absolute
      
      left              border_bottom_width * .8
      right             border_bottom_width * .8
      top               0
      bottom            0
      
      [am-scrollslider]
        background-color  #ccc
        position        absolute
        
        bottom          0
        top             0
        left            0%
        width           100%
  
  [am-scrollbutton]
    position            absolute

    width               border_right_width * .8
    height              border_bottom_width * .8

  [am-scrollbutton~="up"]
    top                 0

  [am-scrollbutton~="down"]
    bottom              0
    
  [am-scrollbutton~="left"]
    left                0

  [am-scrollbutton~="right"]
    right               0

  [am-border]
    background-image    url("paper_border.png")
    position            absolute
    width               100%
    height              100%
  
  [am-border="n"], [am-border="s"]
    background-image    url("paper_border_horizontal.png")
  
  [am-border="w"], [am-border="e"]
    background-image    url("paper_border_vertical.png")
  
  [am-border~="n"]
    top                 - border_top_width
    height              border_top_width
  
  [am-border~="s"]
    bottom              - border_bottom_width
    height              border_bottom_width
  
  [am-border~="w"]
    left                - border_left_width
    width               border_left_width
  
  [am-border~="e"]
    right               - border_right_width
    width               border_right_width
  
  [am-border="n w"]
    background-position top left
  
  [am-border="n"]
    background-position top
  
  [am-border="n e"]
    background-position top right
  
  [am-border="w"]
    background-position left
  
  [am-border="e"]
    background-position right
  
  [am-border="s w"]
    background-position bottom left
  
  [am-border="s"]
    background-position bottom
  
  [am-border="s e"]
    background-position bottom right
    cursor              se-resize
  
