page_width = 1024px
@import url("http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise|Homemade+Apple")
@import "_reset"

html
  background-color      #fff
  color                 #666
  font-family           "Waiting for the Sunrise", cursive

nav
  text-align            center
  
  li
    display             inline-block
    margin              1em

body > header, main > article
  background-color      white
  border                32px solid transparent
  border-image          url("window_border.png") 42 42 round
  
  h1
    font-family         "Homemade Apple", cursive
    font-size           1.5em

header
  text-align            center
  
  h1
    font-size           2em

footer
  background-color      #eee
  font-size             .8em
  padding               .5em
  text-align            center

// Whimdows!

@import "_whimdow"
