page_width = 1024px
@import url("http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise|Homemade+Apple")
@import "_reset"

html
  background-attachment fixed
  background-color      #999
  background-image      url("dotmatrix_background.jpg")
  background-size       cover
  background-position   right
  color                 #666
  font-family           "Waiting for the Sunrise", cursive

nav
  text-align            center
  
  li
    display             inline-block
    margin              .5em .5em

body > header, main > article
  background-image      url("paper_texture.png")
  box-shadow            0 0 8px 0 #0003
  margin                1em
  
  h1
    font-family         "Homemade Apple", cursive
    font-size           1.5em

header
  text-align            center
  
  h1
    font-size           2em

footer
  background-color      #eee
  font-size             .8em
  padding               .5em
  text-align            center

// Whimdows!

@import "_whicon"
@import "_whimdow"
