page_width = 1024px
@import url("http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise|Homemade+Apple")
@import "_reset"

html
  background-attachment fixed
  background-color      #999
  background-image      url("dotmatrix_background.jpg")
  background-size       cover
  background-position   left
  color                 #666
  font-family           "Waiting for the Sunrise", cursive
  letter-spacing        .1em

nav, footer
  text-align            center
  
main > article
  background-image      url("paper_texture.png")
  border                1px solid transparent
  box-shadow            0 0 8px 0 #0003
  margin                1em
  
  h1
    font-family         "Homemade Apple", cursive
    font-size           1.5em
    text-decoration     underline
  
  section h1
    font-size           1em

header
  position              relative
  text-align            center
  
  h1
    font-size           .5em
  
  p
    background-color    white
    box-shadow          0 0 8px 0 #0003
    font-family         "Courier New"
    font-weight         bold
    position            absolute
    white-space         pre
    
    right               15%
    bottom              .6em

h1, h2, p, ul, ol, table, aside
  margin                .8em 1em

aside
  float                 right

code-tag
  color                 #446fbd

code-attr
  color                 #6d8600

code-val
  color                 #e88501

@import "_form"

// Whimdows!

@import "_whicon"
@import "_whimdow"
