h1 Arsenal of web technologies
ul
  li HTML5
  li CSS3
  li JavaScript
  li jQuery
  li PHP
  li MySQL
  li Java
  li node.js
  li CoffeeScript
  li Browserify
  li Jade
  li Stylus
  li Grunt
  li Brackets
  li Gimp
  li git
  