doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title whim.dk - Portfolio for Tommy Pedersen
    link(rel="stylesheet", type="text/css", href="style/style.css")
  body
    header#top
      h1 whim.dk
      p Geeky creativity
    nav
      ul
        li(am-icon)
          a(href="#top")
            img(alt="icon", src="icons/tools.png")
            | whim.dk
        li(am-icon)
          a(href="#about")
            img(alt="icon", src="icons/about.png")
            | About me
        li(am-icon)
          a(href="#projects")
            img(alt="icon", src="icons/work.png")
            | Projects
        li(am-icon)
          a(href="#contact")
            img(alt="icon", src="icons/contact.png")
            | Contact me
    main
      != yield
    footer
      p
        a(href="//validator.w3.org/check/referer") HTML5 valid
    script(src="script.js")
