doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title whim.dk - Portfolio for Tommy Pedersen
    link(rel="stylesheet", type="text/css", href="style/style.css")
  body
    header#top
      h1
        img(alt="whim", src="images/320x/banner.png", width="320")
      p <code-tag>&lt;code</code-tag> <code-attr>is</code-attr>=<code-val>&quot;art&quot;</code-val><code-tag>/&gt;</code-tag>
    != yield
    script(src="script.js")
