include _mixins
ul
  +link("jQuery", "http://jquery.com/", "jquery")
  +link("PHP", "http://php.net/", "php")
  +link("MySQL", "http://mysql.com/", "mysql")
  +link("Java", "http://oracle.com/technetwork/java/", "java")
  +link("node.js", "http://nodejs.org/", "nodejs")
  +link("CoffeeScript", "http://coffeescript.org/", "coffeescript")
  +link("Browserify", "http://browserify.org/", "browserify")
  +link("Jade", "http://jade-lang.com/", "jade")
  +link("Stylus", "http://learnboost.github.io/stylus/", "stylus")
  +link("Gulp", "http://gulpjs.com/", "gulp")
  +link("Brackets", "http://brackets.io/", "brackets")
  +link("Gimp", "http://gimp.org/", "gimp")
  +link("git", "http://git-scm.com/", "git")
  