include _mixins
- var lang = "da"
| <!--[if lt IE 9]>
center
  img(src="images/ierotate.gif")
  marquee(bgcolor="black", width=640): font(color="yellow", size=6) Denne hjemmesides CSS-fil er alt for fantastisk for Internet Explorer at fatte og er derfor slået fra for ikke at såre dens følelser. Denne marquee vil aflede dens opmærksomhed imens du <a href="//mozilla.org/firefox">downloader Firefox</a>.
  img(src="images/ierotate.gif")
| <![endif]-->
nav
  ul
    for n in nav
      +icon(n.da_label, n.link, n.icon)
main
  article#about
    include ./_about-da.md
  article#work
    h2 Mine værker
    ul
      for t in projectTags
        +icon(t.da_title, "#"+t.tag+"-projects", "work")
    for t in projectTags
      +projectFolder(t.da_title, t.tag)
  article#xp
    h2 Mit arsenal af web erfaring
    include ./_xp
  article#contact
    h2 Send en besked til mig
    include ./_contact
footer
  ul
    for n in footer
      +link(n.da_label, n.link, n.icon)
