include _mixins
- var lang = "da"
nav
  ul
    for n in nav
      +icon(n.da_label, n.link, n.icon)
main
  article#about
    include ./_about-da.md
  article#work
    h1 Mine værker
    ul
      for t in projectTags
        +icon(t.da_title, "#"+t.tag+"-projects", "work")
    for t in projectTags
      +projectFolder(t.da_title, t.tag)
  article#xp
    h1 Mit arsenal af web erfaring
    include ./_xp
  article#contact
    h1 Send en besked til mig
    include ./_contact
footer
  ul
    for n in footer
      +link(n.da_label, n.link, n.icon)
